[flake8]
ignore =
  E122,  # Continuation line missing indentation or outdented
  E128,  # Visual indent
  W503   # Line break before binary operator
  W504   # Line break after binary operator
exclude =
  .git,
  __pycache__
